/* HEADER */
.header {
    /* background-color: #28201a; */
    background: var(--bg-color-header);

}

.nav .button {
    display: none;
}

.nav {
    max-width: 1200px;
    margin: 0 auto;

}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0;
    gap: 30px;
    max-width: 600px;
    margin: 0 auto;
}

.menu li {
    flex: 1;
    text-align: center;
}

.menu li a {
    font-size: 1.5rem;
    padding: 10px 20px;
    text-transform: uppercase;
    color: var(--secondary-color);
    transition: .2s;
}

.menu li a:hover {
    color: var(--primary-color);
}

@media (max-width: 600px) {
    .menu li {
        text-align: start;
    }

    .menu li a {
        font-size: 1.2rem;
        display: block;
        padding: 20px 10px;
        margin: 0 15px;
        border-top: 2px solid rgba(0, 0, 0, 0.1);

    }

    .menu li a:hover {
        background-color: #616161;
    }

    .nav .button {
        display: block;
        /* text-align: end; */
        padding: 30px;
        border: none;
        background: none;
        /* background-color: tomato; */
    }

    .nav .btn-mobile {
        /* padding: 10px; */
        display: block;
        border-top: 2px solid;
        width: 20px;
        cursor: pointer;
    }

    .btn-mobile::after,
    .btn-mobile::before {
        content: '';
        display: block;

        width: 20px;
        height: 2px;
        /* margin-left: -6px; */
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    .menu {
        display: block;
        position: absolute;
        padding: 0px;
        /* width: 100%; */
        top: 76px;
        /* right: 0px; */
        z-index: 1000;
        transition: .6s;
        background-color: var(--bg-color-header);
        /* height: 0; */
        max-height: 0;
        visibility: hidden;
        overflow-y: hidden;
    }

    .activeMobileNav .menu {
        /* height: calc(100vh - 60px); */
        max-height: 250px;

        visibility: visible;
        /* overflow-y: auto; */

    }

    .activeMobileNav .btn-mobile {
        border-top-color: transparent;
    }

    .activeMobileNav .btn-mobile::before {
        transform: rotate(135deg);
    }

    .activeMobileNav .btn-mobile::after {
        transform: rotate(-135deg);
        top: -7px;
    }


}

/* HEADER */